[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
langchain = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-community = "*"
black = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.12"
